body#tinymce.page-edit,
body#tinymce.template-edito,
#content-title,
#preview-header #title-text,
#content,
#title-text,
body.mceContentBody,
.codeHeader.panelHeader.pdl,
.page-metadata {
    direction: rtl;
    text-align: right;
}
div.panel.pdl,
pre,
div#editor-precursor,
#rte-toolbar .aui-button, #rte-savebar .aui-button{
    direction: ltr;
    text-align: left;
}
.page-metadata ul li {
    float: right;
    padding: 0 0 0 5px;
}
.invite-to-edit-button~#avatar-list {
    right: 25px;
}
.confluenceTh, .confluenceTd{
    text-align: right
}
table.aui>thead>tr>th, table.aui>tbody>tr>th, table.aui>thead>tr>td, table.aui>tbody>tr>td, table.aui>tfoot>tr>td {
    text-align:right;
}

.acs-side-bar-content {
    direction: rtl;
    text-align: right;
}
.acs-nav-item .acs-nav-item-label {
    margin-right: 10px;
    margin-left: 0;

}
div.plugin_pagetree ul.plugin_pagetree_children_list>li>div.plugin_pagetree_childtoggle_container {
    float: right;
}
div.plugin_pagetree .plugin_pagetree_childtoggle_container>.aui-icon::before {
    transform: rotate(180deg);
}

.grouped ul, .grouped ol {
    padding-right: 0;
}
#insert-menu .aui-dropdown a {
    padding: 4px 8px 4px 50px
}
.aui-toolbar .icon {
    float: right;
}
#insert-menu .aui-dropdown .icon {
    margin: 1px 0 0 4px;
}
#toolbar .aui-toolbar2 .aui-buttons.no-separator .aui-dd-parent>a.aui-dd-trigger:after {
    margin-left: 0;
    margin-right: 20px
}
